<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<display-name>Project</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!--  -->
	
	<!--  -->
	
	<!-- Department -->
	<servlet>
		<servlet-name>department.temp_start</servlet-name>
		<servlet-class>com.fineapple.department.TempStart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>department.temp_start</servlet-name>
		<url-pattern>/company/pages/department/tempstart.do</url-pattern>
	</servlet-mapping>
		<!-- Department / dev -->
		<servlet>
			<servlet-name>department.dev.outcome.write</servlet-name>
			<servlet-class>com.fineapple.department.DevWriteOutcome</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>department.dev.outcome.write</servlet-name>
			<url-pattern>/company/pages/department/dev/outcome/dev_write_o.do</url-pattern>
		</servlet-mapping>
	
	
	<!-- all -->
	<servlet>
		<servlet-name>all.FreeBoard.add</servlet-name>
		<servlet-class>com.fineapple.all.freeboard.Add</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>all.FreeBoard.add</servlet-name>
		<url-pattern>/all/freeboard/add.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>all.FreeBoard.addok</servlet-name>
		<servlet-class>com.fineapple.all.freeboard.AddOk</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>all.FreeBoard.addok</servlet-name>
		<url-pattern>/all/freeboard/addok.do</url-pattern>
	</servlet-mapping>
	
	
	
	<!-- attendance -->
	<servlet>	<!-- 메인페이지 -->
		<servlet-name>attendance.home</servlet-name>
		<servlet-class>com.fineapple.attendance.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>attendance.home</servlet-name>
		<url-pattern>/attendance/home.do</url-pattern>
	</servlet-mapping>	
	
	<servlet>	<!-- 로그인페이지 -->
		<servlet-name>attendance.login</servlet-name>
		<servlet-class>com.fineapple.attendance.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>attendance.login</servlet-name>
		<url-pattern>/attendance/login.do</url-pattern>
	</servlet-mapping>		
	
	
	
	
	
	
	
	
	
	
	
	
	
</web-app>